{% extends "layout.html" %}

{% block title %}
    Oak or not oak?
{% endblock %}

{% block main %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome!</h1>
        <p class="lead text-muted">
            My name is <a href="https://github.com/tonirah/" rel="noreferrer" target="_blank">Toni</a>, and for my <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x" rel="noreferrer" target="_blank">CS50</a> final project,
            I made a computer vision AI app, that can detect oak leaves! Upload an .jpg image of a leaf, or try one of the examples below.
            See <a href="/about">about</a> for more info about the project.
        </p>

        <div class="row mt-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                        {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}
<form action="" method="post" enctype="multipart/form-data">
    <div class="input-group">
        <div class="custom-file">
          <input name="file" type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label text-left" for="customFile">Choose file</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload!</button>
        </div>
    </div>
    <small class="form-text text-mutes text-left pl-2">Upload image of leaf (closeup, format .jpg)</small>
</form>
</div>
<div class="col-lg-3"></div>
            </div>
            
        </div>

</div>
</section>



<!-- 9 example images on cloudify -->
<form name="exampleForm"  action="analysis_example" method="post">
    <input type="hidden" id="postImage" name="postImage" value="">
</form>
<h2>Try an example image (these are unknown to the model)</h2>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/oak0.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/some_leaf.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/oak1.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/beech.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/apple0.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/oak2.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/maple1.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/oak3.jpg"></a>
<a href="#"><img class="examples" src="https://res.cloudinary.com/toni-not-oak/image/upload/c_scale,w_600/v1550268857/examples/maple0.jpg"></a>

<script type="text/javascript">
    document.querySelectorAll(".examples").forEach(function(example) {
        example.addEventListener("click", function() {
            document.querySelector("#postImage").setAttribute("value", this.getAttribute("src"));
            document.forms["exampleForm"].submit();
        })
    })
</script>
{% endblock %}