{% extends "layout.html" %}

{% block title %}
Upload
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="/upload" method="POST" enctype="multipart/form-data">
	<div class="form-group">
		<label for="exampleFormControlFile1">Upload picture of leaf</label>
		<input type="file" name = "file" class="form-control-file" id="exampleFormControlFile1">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>

{% endblock %}